<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Salesforce Functionality Automation">
    <test name = "DashBoardFunctionality">
        <classes>
            <class name="sprint2.week1.DashboardFunctionality" />
            <class name ="sprint2.week1.ServiceTerritoryFunctionality"/>

        </classes>
    </test>

</suite>